[submodule "TrafficPredict/TrafficPredict"]
	path = prediction/TrafficPredict/TrafficPredict
	url = https://github.com/huang-xx/TrafficPredict.git
[submodule "SpectralCows/Spectral-Trajectory-and-Behavior-Prediction"]
	path = prediction/SpectralCows/Spectral-Trajectory-and-Behavior-Prediction
	url = https://github.com/rohanchandra30/Spectral-Trajectory-and-Behavior-Prediction.git
